In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import os
import datetime 
import re

In [2]:
carni_path = open(r"C:\Users\shubham\Desktop\Python\Kaggle\Carnivorous\carnivorous_diet.csv")

In [3]:
carni = pd.read_csv(carni_path)

carni.head()

C:\Users\shubham\AppData\Local\Temp\ipykernel_16860\3581585690.py:1: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  carni = pd.read_csv(carni_path)

,recordID,orderCarni,familyCarni,scientificNameCarni,commonNameCarni,sexCarni,lifeStageCarni,foodType,orderPrey,familyPrey,...,decimalLongitude,georeferenceSources,samplingProtocol,methodQuantification,sourceAuthor,sourceYear,sourceTitle,sourceJournal,sourcePrimaryReference,sourceCollectionReference
0,1,Carnivora,Felidae,Acinonyx_jubatus,Cheetah,Both,Unspecified,Mammal,Cetartiodactyla,Bovidae,...,29.046635,GoogleMaps,Scat,Occurrence in source (%),"Craig, C",2017,A record of cheetah (Acinonyx jubatus) diet in...,African Journal of Ecology,"Craig, Christie A., Eleanor I. Brassine, and D...","Craig, Christie A., Eleanor I. Brassine, and D..."
1,2,Carnivora,Felidae,Acinonyx_jubatus,Cheetah,Both,Unspecified,Mammal,Cetartiodactyla,Bovidae,...,29.046635,GoogleMaps,Scat,Occurrence in source (%),"Craig, C",2017,A record of cheetah (Acinonyx jubatus) diet in...,African Journal of Ecology,"Craig, Christie A., Eleanor I. Brassine, and D...","Craig, Christie A., Eleanor I. Brassine, and D..."
2,3,Carnivora,Felidae,Acinonyx_jubatus,Cheetah,Both,Unspecified,Mammal,Cetartiodactyla,Bovidae,...,29.046635,GoogleMaps,Scat,Occurrence in source (%),"Craig, C",2017,A record of cheetah (Acinonyx jubatus) diet in...,African Journal of Ecology,"Craig, Christie A., Eleanor I. Brassine, and D...","Craig, Christie A., Eleanor I. Brassine, and D..."
3,4,Carnivora,Felidae,Acinonyx_jubatus,Cheetah,Both,Unspecified,Mammal,Perissodactyla,Equidae,...,29.046635,GoogleMaps,Scat,Occurrence in source (%),"Craig, C",2017,A record of cheetah (Acinonyx jubatus) diet in...,African Journal of Ecology,"Craig, Christie A., Eleanor I. Brassine, and D...","Craig, Christie A., Eleanor I. Brassine, and D..."
4,5,Carnivora,Felidae,Acinonyx_jubatus,Cheetah,Both,Unspecified,Mammal,Cetartiodactyla,Bovidae,...,29.046635,GoogleMaps,Scat,Occurrence in source (%),"Craig, C",2017,A record of cheetah (Acinonyx jubatus) diet in...,African Journal of Ecology,"Craig, Christie A., Eleanor I. Brassine, and D...","Craig, Christie A., Eleanor I. Brassine, and D..."

In [5]:
carni.describe()

,recordID,domesticOrAgricultural,percentage,sampleSizeScatStomachTissue,sampleSizeKillsPreyItems,startYear,endYear,startDayOfYear,endDayOfYear,minimumElevationInMeters,maximumElevationInMeters,decimalLatitude,decimalLongitude,sourceYear
count,29121.000000,28883.000000,29121.000000,26311.000000,10298.000000,27787.000000,27787.000000,2892.000000,2890.000000,13600.000000,13600.000000,28899.000000,28607.000000,29121.000000
mean,14561.000000,0.076896,13.101016,213.635818,680.107982,1998.879224,2002.086551,10.361687,21.968166,711.648088,1500.114338,23.047816,6.017900,2007.280004
std,8406.652931,0.266432,18.633975,428.582357,2190.269530,10.964846,9.925597,8.137432,8.119245,824.721639,1316.101539,33.511533,70.770428,9.252173
min,1.000000,0.000000,0.010000,2.000000,3.000000,1933.000000,1946.000000,1.000000,2.000000,0.000000,0.000000,-55.000000,-169.378900,1952.000000
25%,7281.000000,0.000000,1.700000,49.000000,93.000000,1994.000000,1996.000000,1.000000,15.000000,100.000000,550.000000,-8.697531,-49.104167,2003.000000
50%,14561.000000,0.000000,5.300000,101.000000,200.000000,2000.000000,2004.000000,15.000000,20.000000,500.000000,1250.000000,37.150000,15.500000,2010.000000
75%,21841.000000,0.000000,16.000000,230.000000,465.000000,2007.000000,2009.000000,16.000000,30.000000,900.000000,1980.000000,46.992800,30.100000,2014.000000
max,29121.000000,1.000000,100.000000,11478.000000,23824.000000,2017.000000,2017.000000,30.000000,31.000000,4543.000000,8156.000000,81.594500,174.067133,2019.000000

In [6]:
carni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29121 entries, 0 to 29120
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   recordID                     29121 non-null  int64
 1   orderCarni                   29121 non-null  object
 2   familyCarni                  29121 non-null  object
 3   scientificNameCarni          29121 non-null  object
 4   commonNameCarni              29121 non-null  object
 5   sexCarni                     29121 non-null  object
 6   lifeStageCarni               29121 non-null  object
 7   foodType                     29119 non-null  object
 8   orderPrey                    18838 non-null  object
 9   familyPrey                   17125 non-null  object
 10  genusPrey                    15494 non-null  object
 11  speciesPrey                  12849 non-null  object
 12  scientificNamePrey           12847 non-null  object
 13  commonNamePrey               28698 non-null  object
 14  domesticOrAgricultural       28883 non-null  float64
 15  taxonRankPrey                29121 non-null  object
 16  percentage                   29121 non-null  float64
 17  percentageError              1383 non-null   object
 18  dataBasisFromSource          28771 non-null  object
 19  sampleSizeScatStomachTissue  26311 non-null  float64
 20  sampleSizeKillsPreyItems     10298 non-null  float64
 21  startYear                    27787 non-null  float64
 22  endYear                      27787 non-null  float64
 23  startMonth                   19580 non-null  object
 24  endMonth                     19593 non-null  object
 25  fixedBetweenMonths           19400 non-null  object
 26  startDayOfYear               2892 non-null   float64
 27  endDayOfYear                 2890 non-null   float64
 28  season                       26897 non-null  object
 29  minimumElevationInMeters     13600 non-null  float64
 30  maximumElevationInMeters     13600 non-null  float64
 31  geographicRegion             5942 non-null   object
 32  country                      28814 non-null  object
 33  stateProvince                12595 non-null  object
 34  county                       4941 non-null   object
 35  municipality                 3203 non-null   object
 36  verbatimLocality             9424 non-null   object
 37  protectedAreaHigher          11042 non-null  object
 38  protectedAreaLower           126 non-null    object
 39  islandGroup                  397 non-null    object
 40  island                       1115 non-null   object
 41  studyAreaSize                18717 non-null  object
 42  decimalLatitude              28899 non-null  float64
 43  decimalLongitude             28607 non-null  float64
 44  georeferenceSources          28964 non-null  object
 45  samplingProtocol             29121 non-null  object
 46  methodQuantification         29121 non-null  object
 47  sourceAuthor                 29121 non-null  object
 48  sourceYear                   29121 non-null  int64
 49  sourceTitle                  29121 non-null  object
 50  sourceJournal                29121 non-null  object
 51  sourcePrimaryReference       29121 non-null  object
 52  sourceCollectionReference    29121 non-null  object
dtypes: float64(12), int64(2), object(39)
memory usage: 11.8+ MB

In [7]:
carni.isnull().sum()

recordID                           0
orderCarni                         0
familyCarni                        0
scientificNameCarni                0
commonNameCarni                    0
sexCarni                           0
lifeStageCarni                     0
foodType                           2
orderPrey                      10283
familyPrey                     11996
genusPrey                      13627
speciesPrey                    16272
scientificNamePrey             16274
commonNamePrey                   423
domesticOrAgricultural           238
taxonRankPrey                      0
percentage                         0
percentageError                27738
dataBasisFromSource              350
sampleSizeScatStomachTissue     2810
sampleSizeKillsPreyItems       18823
startYear                       1334
endYear                         1334
startMonth                      9541
endMonth                        9528
fixedBetweenMonths              9721
startDayOfYear                 26229
endDayOfYear                   26231
season                          2224
minimumElevationInMeters       15521
maximumElevationInMeters       15521
geographicRegion               23179
country                          307
stateProvince                  16526
county                         24180
municipality                   25918
verbatimLocality               19697
protectedAreaHigher            18079
protectedAreaLower             28995
islandGroup                    28724
island                         28006
studyAreaSize                  10404
decimalLatitude                  222
decimalLongitude                 514
georeferenceSources              157
samplingProtocol                   0
methodQuantification               0
sourceAuthor                       0
sourceYear                         0
sourceTitle                        0
sourceJournal                      0
sourcePrimaryReference             0
sourceCollectionReference          0
dtype: int64

In [9]:
sns.countplot(carni['orderCarni'])

ValueError: could not convert string to float: 'Carnivora'